:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --sales-bkg-color: #4F4745;
    --white: #fff
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--black);

}

.img {
    display: block;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--black);
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 34px;
}

.header__nav {
    display: none;
}

.header__button {
    border: none;
    background-color: transparent;
}

.brand {
    display: flex;
    margin: 0 0 62px 0;
}

.brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    background-color: var(--light-pink);
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink)
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.sales__item {
    padding: 20px;
    box-sizing: border-box;
    width: 360px;
    height: 260px;
    min-height: 260px;
    /* background-color: var(--sales-bkg-color); */
    color: rgb(243, 239, 239);
    )
}


.sales__item--woman {
    background-image: url(../img/sales-women.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--shoes {
    width: 100%;
    margin: 0;
    padding-top: 50px;
    background-position: center;
    background-size: cover;
}

.catalog__header {
    text-align: center;
}

.catalog__header-title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.catalog__item-image {
    width: 360px;
    height: 420px;
    display: block;
    list-style-type: none;
}

.catalog__header-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.catalog__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.catalog__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalog__item {
    width: 360px;
    height: 581px;
    margin: 0 0 30px 0;
    list-style-type: none;
}

.catalog__title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}

.catalog__item-price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink)
}

.catalog__button {
    padding-top: 48px;
    padding-bottom: 95px;
    text-align: center;
}

.catalog__btn {
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height: 60px;
    width: 250px;
    background-color: white;
    color: var(--dark-pink);
}

.catalog__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height: 60px;
    width: 250px;
    background: white;
    color: #FF6A6A;
    border: 1px solid #FF6A6A;
    transition: all 400ms ease;
}

.catalog__btn:hover {
    background: #FF6A6A;
    color: white;
    box-shadow: inset 0 0 0 3px #FF6A6A;
}

.info {
    padding-top: 104px;
    padding-bottom: 104px;
    text-align: center;
    background: #222224;
}

.info__list {
    display: flex;
    font-weight: wrap;
}

.info__item {
    width: 360px;
    margin-left: 30px;
}

.info__item:first-child {
    margin-left: 0;
}

.info__title {
    margin-top: 28px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #F8F8F8;
}

.info__text {
    padding: 0 30px;
    width: 360px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F8F8F8;

}

.footer__btn-subscribe {
    width: 100px;
    height: 49px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background: var(--dark-pink);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
}

.inf