.catalog__header {
    text-align: center;
}

.catalog__header-title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.catalog__link {
    text-decoration: none;
}

.catalog__item-wrp {
    position: relative;
}

.catalog__item-image {
    width: 360px;
    height: 420px;
    display: block;
    list-style-type: none;
}

.catalog__item-overlay {
    width: 100%;
    min-height: 100%;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    display: none;
}

.catalog__item-button {
    position: absolute;
    height: 43px;
    width: 138px;
    top: 50%;
    left: 50%;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    display: none;
}

.catalog__item:hover .catalog__item-overlay,
.catalog__item:hover .catalog__item-button {
    display: block;
}

.catalog__item-button:hover {
    background-color: $grey;
}



.catalog__header-text {
    @include font(14px, 17px, 400, normal);
    font-family: 'Lato';
    color: #9F9F9F;
    margin-bottom: 48px;
}

.catalog__text {
    @include font(14px, 17px, 400, normal);
    font-family: 'Lato';
    color: #9F9F9F;
}

.catalog__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalog__item {
    width: 360px;
    height: 581px;
    margin: 0 0 30px 0;
    list-style-type: none;
    background: #F8F8F8;
}

.catalog__title {
    @include font(13px, 16px, 400, normal);
    font-family: 'Lato';
    text-transform: uppercase;
}

.catalog__item-price {
    @include font(16px, 19px, 400, normal);
    color: $dark-pink;
}

.catalog__button {
    padding-top: 48px;
    padding-bottom: 95px;
    text-align: center;
}

.catalog__btn {
    @include font(16px, 19px, 400);
    height: 60px;
    width: 250px;
    background: white;
    color: #FF6A6A;
    border: 1px solid #FF6A6A;
    transition: all 400ms ease;
}

.catalog__btn:hover {
    background: #FF6A6A;
    color: white;
    box-shadow: inset 0 0 0 3px #FF6A6A;
}