.footer__main {
    min-height: 448px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    background-image: url(../img/bg_footer.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer__main-hlp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__reviews {
    width: 360px;
    height: 225px;
}

.footer__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__text {
    padding: 30px 0 0 0;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.footer__social {
    background-color: $black;
}

.footer__social-wrp {
    background-color: $black;
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.footer__social-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $white;
}