.footer__main {
    min-height: 448px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-image: url(../img/bg_footer.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer__main-hlp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__reviews {
    width: 360px;
    height: 225px;
}

.footer__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__text {
    @include font(20px, 24px, 400, italic);
    padding: 30px 0 0 0;
    text-align: center;
}

.footer__social {
    background-color: $black;
}

.footer__social-wrp {
    background-color: $black;
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.footer__social-text {
    @include font(16px, 19px, 400);
    color: $white;

}