<<<<<<< HEAD
.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    padding: 20px;
    box-sizing: border-box;
    width: 360px;
    height: 260px;
    min-height: 260px;
    color: rgb(243, 239, 239);
    @include flex-center;
    flex-direction: column;
}


.sales__item--woman {
    background-image: url(../img/sales-women.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--shoes {
    width: 100%;
    // margin: 0;
    // padding-top: 50px;
    // background-position: center;
    // background-size: cover;
=======
.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.sales__item {
    padding: 20px;
    box-sizing: border-box;
    width: 360px;
    height: 260px;
    min-height: 260px;
    /* background-color: var(--sales-bkg-color); */
    color: rgb(243, 239, 239);
    )
}


.sales__item--woman {
    background-image: url(../img/sales-women.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--shoes {
    width: 100%;
    margin: 0;
    padding-top: 50px;
    background-position: center;
    background-size: cover;
>>>>>>> 05643b39d8f26bb58128bf8f04eeea991805a82c
}