.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 63px;
}

.sales__item {
    padding: 20px;
    box-sizing: border-box;
    width: 360px;
    height: 260px;
    min-height: 260px;
    color: rgb(240, 10, 10);
    @include flex-center;
    flex-direction: column;
}

.saled__text {
    position: absolute;
}


.sales__item--woman {
    background-position: center;
    background-size: cover;
}

.sales__item--men {
    background-position: center;
    background-size: cover;
}

.sales__item--kids {
    background-position: center;
    background-size: cover;
}

.sales__item--shoes {
    width: 100%;
    // margin: 0;
    // padding-top: 50px;
    // background-position: center;
    // background-size: cover;
}